<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Tutopoint", suffix: " · What's our slogan?" %>
        <script src="https://kit.fontawesome.com/ec65ba9ed4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="mb-2">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a href="/" class="navbar-brand w-25 font-weight-bold">Tutopoint</a>  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse justify-content-center navbar-collapse w-100" id="navbarSupportedContent">
        </div>
        <%= if Pow.Plug.current_user(@conn) do %>
        <div class="navbar-brand w-25 d-flex justify-content-end">
          <button class="btn btn-lg px-1 mr-2"><i class="text-white far fa-bell"></i></button>
          <div class="dropdown">
            <button class="btn btn-lg px-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-user-circle text-white"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#"><i class="fas fa-user-circle"></i> My Profile</a>
              <a class="dropdown-item" href="#"><i class="fas fa-calendar-times"></i> My Upcoming Sessions</a>
              <a class="dropdown-item" href="#"><i class="fas fa-comment-alt"></i> Chat</a>
              <a class="dropdown-item" href="#"><i class="fas fa-exclamation-triangle"></i> Report a problem</a>
              <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a>
            </div>
          </div>
        </div>
        <% else %>

        <div class="navbar-brand w-25 d-flex justify-content-end">
            <%= link "Sign in", to: Routes.pow_session_path(@conn, :new), class: "m-0 btn font-weight-bold h3 bg-transparent border border-white rounded-0 text-white" %>
        </div>

        <% end %>

      </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
