@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

$theme-colors: ("primary": #5c98ff);

@import '../node_modules/bootstrap/scss/bootstrap.scss';

$font-family-sans-serif: 'Lato', sans-serif;

.classes {
    .class {
        @extend .bg-light;
        @extend .p-2;
        border-left: 7px;
        border-left-style: none;
        border-left-style: solid;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

}